<h1>
    <%=category%> products:
</h1>

<ul>
    <% products.forEach(function(product){ %>
        <li><a href="/products/<%=product._id%>"> <%= product.name %> </a></li>
    <% }); %>
 </ul>

 <a href="/products/new"> Add a new product</a>

 <% if(category !== 'All') {%>
    <a href="/products"> All products</a>
    <% } %>